<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>首页</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="wx/css/common.css" rel="stylesheet" type="text/css" />
<link href="wx/css/main.css" rel="stylesheet" type="text/css" />
<link href="wx/css/swiper.min.css" rel="stylesheet" type="text/css" />
<!--<link href="wx/css/my_swiper.css" rel="stylesheet" type="text/css" />-->
<!-- js -->
<script type="text/javascript" src="wx/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="wx/js/swiper.min.js"></script>
<script type="text/javascript" src="wx/js/common.js"></script>
</head>
<body style="background: #f2f2f2;">
	
<div class="top_size"></div>
<div class="clear"></div>
<!-- header -->
<section class="color_header" >
    <a href="#" title="" class="hleft headleft header"><img src="wx/images/leftbackwhite.png"> </a>
    <div class="htitle header">燕窝馆</div>
    <a href="#" title="" class="hright headright header"><img src="wx/images/rightmorewhite.png"></a>
</section>
<!-- header end -->
	
<!-- banner////////////////////////////////////////////////////////////////////// -->			
<div class="index_banner">
	<div class="swiper-container" style="width: 100%;height: 100%;">
	 	<div class="swiper-wrapper">
		    <div class="swiper-slide blue-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/ywg/banner.png"/>
		    	</a>
		    </div>
		    <!--<div class="swiper-slide red-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/ywg/banner.png"/>
		    	</a>
		    </div>-->
		    
	  	</div>
	  	<div class="swiper-pagination"></div>
	</div>
	
	<script type="text/javascript">
	  var mySwiper = new Swiper('.index_banner .swiper-container',{
	    loop: true,
		autoplay: 3000,
		pagination : '.index_banner .swiper-pagination'
	  });	
	</script>
</div>		
<!-- banner////////////////////////////////////////////////////////////////////// -->

<!-- cubilose_type -->
<section class="cubilose_type">
	<section class="type1"><a href="#" title=""><img src="wx/images/ywg/type1.png"></a></section>
	<section class="type1"><a href="#" title=""><img src="wx/images/ywg/type2.png"></a></section>
	<section class="type1"><a href="#" title=""><img src="wx/images/ywg/type3.png"></a></section>
	<section class="type1"><a href="#" title=""><img src="wx/images/ywg/type4.png"></a></section>
</section>
<!-- cubilose_type end -->

<!-- 活动广告 可增减////////////////////////////////////////////////////////////////////// -->			
<div class="index_banner">
	<div class="swiper-container" style="width: 100%;height: 100%;">
	 	<div class="swiper-wrapper">
		    <div class="swiper-slide blue-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/ywg/积分兑换.png"/>
		    	</a>
		    </div>
		    <!--<div class="swiper-slide red-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/ywg/banner.png"/>
		    	</a>
		    </div>-->
		    
	  	</div>
	  	<div class="swiper-pagination"></div>
	</div>
	
	<script type="text/javascript">
	  var mySwiper = new Swiper('.index_banner .swiper-container',{
	    loop: true,
		autoplay: 3000,
		pagination : '.index_banner .swiper-pagination'
	  });	
	</script>
</div>		
<!-- 活动广告 可增减end////////////////////////////////////////////////////////////////////// -->

<!-- 产品广告 可增减////////////////////////////////////////////////////////////////////// -->
<!-- cubilose_adv -->
<section class="cubilose_adv mt20">
<a href="#" title=""><img src="wx/images/ywg/1.png"></a>
</section>
<!-- cubilose_adv end -->

<!-- cubilose_adv -->
<section class="cubilose_adv mt20">
<a href="#" title=""><img src="wx/images/ywg/2.png"></a>
</section>
<!-- cubilose_adv end -->

<!-- cubilose_adv -->
<section class="cubilose_adv mt20">
<a href="#" title=""><img src="wx/images/ywg/3.png"></a>
</section>
<!-- cubilose_adv end -->
<!-- 产品广告 可增减 end////////////////////////////////////////////////////////////////////// -->

<!-- cubilose_cards会员卡 -->
<section class="cubilose_cards mt20">
	<a href="#" title=""><img src="wx/images/ywg/周期定制.png"></a>
	<span class="mt15 fl">
		<!--a的数量可增减-->
		<a href="#" title=""><img src="wx/images/ywg/卡1.png"></a>
		<a href="#" title=""><img src="wx/images/ywg/卡2.png"></a>
		<a href="#" title=""><img src="wx/images/ywg/卡3.png"></a>
		<a href="#" title=""><img src="wx/images/ywg/卡4.png"></a>
	</span>
</section>
<!-- cubilose_cards end -->

<!-- cubilose_cards店铺环境 -->
<section class="cubilose_cards mt20">
	<a href="#" title=""><img src="wx/images/ywg/店铺环境.png"></a>
	<span class="mt15 fl">
		<!--a的数量可增减-->
		<a href="#" title=""><img src="wx/images/ywg/环境1.png"></a>
		<a href="#" title=""><img src="wx/images/ywg/环境2.png"></a>
	</span>
</section>
<!-- cubilose_cards end -->



<!-- recommend好货推荐 -->
<section class="recommend">
	<div class="recommend_title colpurple">好货推荐</div>
	<div class="recommend_box">
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>标题</p><p>广告语</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>
		
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>【鲜炖】盈香丹桂燕窝</p><p>孕妇营养滋补品印尼干燕窝</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>
		
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>【鲜炖】盈香丹桂燕窝</p><p>孕妇营养滋补品印尼干燕窝</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>
		
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>【鲜炖】盈香丹桂燕窝</p><p>孕妇营养滋补品印尼干燕窝</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>
		
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>【鲜炖】盈香丹桂燕窝</p><p>孕妇营养滋补品印尼干燕窝</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>
		
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>【鲜炖】盈香丹桂燕窝</p><p>孕妇营养滋补品印尼干燕窝</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>
		
		<a href="#" title="">
			<dl class="bgwhite">
				<dt><img src="wx/images/ywg/goods1.png"> </dt>
				<dd><p>【鲜炖】盈香丹桂燕窝</p><p>孕妇营养滋补品印尼干燕窝</p></dd>
				<dd><span class="colpurple">￥119.00</span></dd>
			</dl>
		</a>


	</div>
	<div style=" width: 100%;text-align: center;margin: .1rem 0; color: #999;">正在加载......</div>
</section>
<!-- recommend end -->




</body>
</html>
