<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>购物车</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
    <!-- css -->
    <link href="wx/css/common.css" rel="stylesheet" type="text/css" />
    <link href="wx/css/center.css" rel="stylesheet" type="text/css" />
    <!-- js -->
    <script type="text/javascript" src="wx/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="wx/js/common.js"></script>

</head>
<body>

<!-- header -->
<section class="white_header">
    <a href="#" title="" class="hleft headleft header"><img src="wx/images/leftback.png"> </a>
    <div class="htitle header">购物车</div>
    <a href="#" title="" class="hright headright header"><img src="wx/images/rightmore.png"></a>
</section>
<!-- header end -->

<!-- order_tab -->
<section class="orderall_tab">
    <a href="#" title="" class="orderall_tab_choiced" style="margin: 0 20%;">OTC</a>
    <a href="#" title="" style="margin: 0 20%;">处方药</a>

</section>
<!-- order_tab end -->

<!--car_box-->
<section class="car_box mt20">

        <div class="car_list">

            <input type="checkbox" class="car1_checkbook"></input>
         <a href="#" title="">
            <dl>
                <dt><img src="wx/images/product1.png"></dt>
                <dd class="dd1">999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
                <dd class="dd2">套餐类型：<span>三盒装</span></dd>
                <dd class="dd3"><span>￥8.00</span>
                    <i class="car_list_num">
                        <a href="#" title="">-</a>
                        <input type="tel" value="1" class="text">
                        <a href="#" title="">+</a>
                    </i>
                </dd>
            </dl>
         </a>
        </div>
    <div class="car_list">
        <input type="checkbox" class="car1_checkbook"></input>
        <a href="#" title="">
            <dl>
                <dt><img src="wx/images/product1.png"></dt>
                <dd class="dd1">999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
                <dd class="dd2">套餐类型：<span>三盒装</span></dd>
                <dd class="dd3"><span>￥8.00</span>
                    <i class="car_list_num">
                        <a href="#" title="">-</a>
                        <input type="tel" value="1" class="text">
                        <a href="#" title="">+</a>
                    </i>
                </dd>
            </dl>
        </a>
    </div>
    <p><i>满赠</i> 购物满199即可领取赠品，还差￥<span>20.00</span> <a href="#" title=""> 去凑单 ></a></p>
</section>
<!--car_box end-->

<!--car_box-->
<section class="car_box mt20">
    <div class="car_list">
        <input type="checkbox" class="car1_checkbook"></input>
        <a href="#" title="">
            <dl>
                <dt><img src="wx/images/product1.png"></dt>
                <dd class="dd1">999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
                <dd class="dd2">套餐类型：<span>三盒装</span></dd>
                <dd class="dd3"><span>￥8.00</span>
                    <i class="car_list_num">
                        <a href="#" title="">-</a>
                        <input type="tel" value="1" class="text">
                        <a href="#" title="">+</a>
                    </i>
                </dd>
            </dl>
        </a>
    </div>
    <div class="car_list">
        <input type="checkbox" class="car1_checkbook"></input>
        <a href="#" title="">
            <dl>
                <dt><img src="wx/images/product1.png"></dt>
                <dd class="dd1">999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
                <dd class="dd2">套餐类型：<span>三盒装</span></dd>
                <dd class="dd3"><span>￥8.00</span>
                    <i class="car_list_num">
                        <a href="#" title="">-</a>
                        <input type="tel" value="1" class="text">
                        <a href="#" title="">+</a>
                    </i>
                </dd>
            </dl>
        </a>
    </div>
    <p><i>满赠</i> 购物满199即可领取赠品</p>
    <div class="car_gift">
        <input type="checkbox" class="car1_checkbook2"></input>
        <dl>
            <dt><img src="wx/images/product1.png"></dt>
            <dd class="dd1"><i>赠品</i>999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
            <dd class="dd3"><span>￥8.00</span> <label>x1</label></dd>
        </dl>
    </div>
    <div class="car_gift">
        <input type="checkbox" class="car1_checkbook2"></input>
        <dl>
            <dt><img src="wx/images/product1.png"></dt>
            <dd class="dd1"><i>赠品</i>999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
            <dd class="dd3"><span>￥8.00</span> <label>x1</label></dd>
        </dl>
    </div>
</section>
<!--car_box end-->

<div class="footer_size"></div>

<section class="carfooter">
    <div class="car1_left">
        <input type="checkbox" class="car1_checkbook3"></input>
        <i>全选</i>
        <dl>
            <dd>合计：￥25.26</dd>
            <dt>不含运费</dt>
        </dl>
    </div>
    <a href="#" title="" class="car1_right">去结算(<span>1</span>) </a>
</section>


</body>
</html>
