<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>确认订单</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
    <!-- css -->
    <link href="wx/css/common.css" rel="stylesheet" type="text/css" />
    <link href="wx/css/center.css" rel="stylesheet" type="text/css" />
    <!-- js -->
    <script type="text/javascript" src="wx/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="wx/js/common.js"></script>

</head>
<body>

<!-- header -->
<section class="white_header">
    <a href="#" title="" class="hleft headleft header"><img src="wx/images/leftback.png"> </a>
    <div class="htitle header">确认订单</div>
    <a href="#" title="" class="hright headright header"><img src="wx/images/rightmore.png"></a>
</section>
<!-- header end -->

<section class="order_address">
    <a href="#" title="">
        <p>李师傅 <span>13516477777</span></p>
        <label>
            <img src="wx/images/address_icon.png">
            <span>收货地址：重庆市渝中区解放碑街道邹容路50号半岛国际大厦18-A</span>
        </label>
    </a>
</section>

<section class="address_bg" style="float:left;"></section>

<!--car2_list 已选列表-->
<a href="#" title="" class="car2_list mt20">
    <ul>
        <!--这里面只显示四个，麻烦马老师程序控制一下下-->
        <li><img src="wx/images/product1.png"></li>
        <li><img src="wx/images/product1.png"></li>
        <li><img src="wx/images/product1.png"></li>
        <li><img src="wx/images/product1.png"></li>
    </ul>
    <p>共3个</p>
</a>
<!--car2_list end-->

<!--car2_deliver 配送方式选择-->
<a href="#" title="" class="car2_deliver mt20">
    <span>配送方式</span>
    <p>送货方式</p>
</a>
<!--car2_deliver end-->


<!--car2_deliver 支付方式-->
<section class="car2_deliver mt20">
    <span>支付方式</span>
    <p>
        <select>
            <option>支付宝</option>
            <option>微信</option>
            <option>银联</option>
        </select>
    </p>
</section>
<!--car2_deliver end-->

<!-- car2_message 留言 -->
<section class="car2_message mt20"> 
    <input type="text" placeholder="给商家留言">
</section>
<!-- car2_message end -->

<!-- car2_words 积分 -->
<section class="car2_words mt20">
    <span>积分</span>
    <p>共<span>1956<span>积分，本单可用<span class="colred">2000</span>积分</p>
    <!--<i class="car2_words_choiced"></i>-->
    <input type="checkbox" class="car2_words_checkbox"></input>
</section>
<!-- car2_message end -->

<!-- car2_words 商品金额 -->
<section class="car2_money mt20">
    <p>
        <span>商品金额</span>
        <label>￥2000.00</label>
    </p>
    <p>
        <span>运费</span>
        <label>+￥10.00</label>
    </p>
</section>
<!-- car2_message end -->

<!--car2_deliver 发票选择-->
<a href="#" title="" class="car2_deliver mt20">
    <span>发票信息</span>
    <p>个人</p>
</a>
<!--car2_deliver end-->


<div class="footer_size"></div>

<section class="carfooter">
    <div class="car1_left">
        <i class="car1_left_words">实付款：￥1266.00</i>
    </div>
    <a href="#" title="" class="car1_right">去支付</a>
</section>




</body>
</html>
