.doctor_type{width: 100%;float: left;background: #fff;padding-top: .4rem;}
.doctor_type dl{width: 20%;float: left;margin-bottom: .4rem;}
.doctor_type dl dt{text-align: center;display: block;}
.doctor_type dl dt img{width: .8rem;height: .8rem;}
.doctor_type dl dd{text-align: center;margin-top: .16rem;}


/*.top_link{width: 100%;height: 2.54rem;background: #FFF;border-top: .025rem solid #EBEBEB; border-bottom: .025rem solid #ebebeb;float: left;margin-top: .2rem;}
.top_link .top_l_left{width: 50%; border-right: .025rem solid #ebebeb;float: left;padding: .28rem 0;text-align: center;}
.top_link .top_l_left dt{width:100%;height: 1.16rem;text-align: center;margin-bottom: .22rem;}
.top_link .top_l_left dt img{width: .94rem;height: 1.16rem;}
.top_link .top_l_left dd{font-size: .24rem; color: #333;}
.top_link .top_l_left dd:last-child{font-size: .18rem;color: #777;}
.top_link .top_l_right{width: 49%; float: right;}

.top_link .top_l_right dl{border-bottom: .025rem solid #ddd;float: left;width: 100%; padding: .28rem 0;}
.top_link .top_l_right dl dd{font-size: .24rem; color: #333; padding-top: .1rem;} 
.top_link .top_l_right dl dd:last-child{font-size: .18rem;color: #777;padding-top:0;}
.top_link .top_l_right dl:first-child dt{height: .71rem;float: left;margin:0 .12rem 0 .18rem;}
.top_link .top_l_right dl:first-child dt img{width: .76rem;height: .71rem;}
.top_link .top_l_right dl:last-child{border-bottom:none;}
.top_link .top_l_right dl:last-child dt{height: .69rem;float: left;margin:0 .12rem 0 .18rem;}
.top_link .top_l_right dl:last-child dt img{width: .7rem;height: .69rem;}*/ 

.top_link{width: 100%;height: 2.54rem;background: #FFF;border-top: .025rem solid #EBEBEB; border-bottom: .025rem solid #ebebeb;float: left;margin-top: .2rem;}
.top_link .top_l_left{width: 49%; float: left;}
.top_link .top_l_left dl{border-bottom: .025rem solid #ddd;float: left;width: 100%; padding: .28rem 0;}
.top_link .top_l_left dl dd{font-size: .24rem; color: #333; padding-top: .1rem;} 
.top_link .top_l_left dl dd:last-child{font-size: .18rem;color: #777;padding-top:0;}
.top_link .top_l_left dl:first-child dt{height: .71rem;float: left;margin:0 .12rem 0 .18rem;}
.top_link .top_l_left dl:first-child dt img{width: .76rem;height: .71rem;}
.top_link .top_l_left dl:last-child{border-bottom:none;}
.top_link .top_l_left dl:last-child dt{height: .69rem;float: left;margin:0 .12rem 0 .18rem;}
.top_link .top_l_left dl:last-child dt img{width: .7rem;height: .69rem;}

.top_link .top_l_right{width: 49%; float: right;}
.top_link .top_l_right dl{border-bottom: .025rem solid #ddd;float: left;width: 100%; padding: .28rem 0;}
.top_link .top_l_right dl dd{font-size: .24rem; color: #333; padding-top: .1rem;} 
.top_link .top_l_right dl dd:last-child{font-size: .18rem;color: #777;padding-top:0;}
.top_link .top_l_right dl:first-child dt{height: .71rem;float: left;margin:0 .12rem 0 .18rem;}
.top_link .top_l_right dl:first-child dt img{width: .76rem;height: .71rem;}
.top_link .top_l_right dl:last-child{border-bottom:none;}
.top_link .top_l_right dl:last-child dt{height: .69rem;float: left;margin:0 .12rem 0 .18rem;}
.top_link .top_l_right dl:last-child dt img{width: .7rem;height: .69rem;}



.doctor_list {width: 100%;float: left;}
.doctor_list .doctor_list1{padding: .16rem .3rem 0 .3rem;margin: .2rem 0;background: #fff;display: block;overflow: hidden;}
.doctor_list .doctor_list1 .doctor_list1_l{float: left;width: 25%;}
.doctor_list .doctor_list1 .doctor_list1_l img{width:1.2rem;height:1.2rem;border-radius: .6rem;}
.doctor_list .doctor_list1 .doctor_list1_l .on_line{display: block;width: .7rem;height: .3rem;text-align:center;border-radius: .1rem;background: #fe8919;position: absolute;bottom:0;left: .6rem;color: #fff;}
.doctor_list .doctor_list1 .doctor_list1_l .off_line{display: block;width: .7rem;height: .3rem;text-align:center;border-radius: .1rem;background: #ddd;position: absolute;bottom:0;left: .6rem;color: #999;}

.doctor_list .doctor_list1 .doctor_list1_r{float: left;width:75%;}
.doctor_list .doctor_list1 .doctor_list1_r dl{line-height: .4rem;}
.doctor_list .doctor_list1 .doctor_list1_r dl dt{font-size: .3rem;color: #333;}
.doctor_list .doctor_list1 .doctor_list1_r dl dt span{font-size: .24rem;color: #666;margin-left: .2rem;}
.doctor_list .doctor_list1 .doctor_list1_r dl dd{display:block;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;color: #aaa; }
.doctor_list .doctor_list1 .doctor_list1_r dl dd i{color: #777;}

.doctor_list .doctor_list1 .doctor_list1_r dl dd:last-child{border-top: .02rem solid #ddd;padding: .2rem 0;}

.doctor_list .doctor_list1 .doctor_list1_r .doctor_list1_r_num{font-size:.18rem;float: left;}
.doctor_list .doctor_list1 .doctor_list1_r .doctor_list1_r_numnow{font-size:.18rem;padding:0 .06rem; background: #39d167;float: right;color: #fff;border-radius: .08rem;}


.h20 {
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.h90 {
    height: .9rem;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


.d_header{width: 100%; height: 2rem; background: url(../images/doctor/d_bg.png) no-repeat;background-size:100% 2rem;text-align: center;display: block;}
.d_header .photo{position: absolute;bottom:-.8rem;display: inline-block; margin-left: -.6rem;}
.d_header .photo img{width:1.2rem;height:1.2rem;border-radius: .6rem;}
.d_header .photo .on_line{display: block;width: .7rem;height: .3rem;text-align:center;border-radius: .1rem;background: #fe8919;position: absolute;bottom:0;left: .6rem;color: #fff;}
.d_header .photo .off_line{display: block;width: .7rem;height: .3rem;text-align:center;border-radius: .1rem;background: #ddd;position: absolute;bottom:0;left: .6rem;color: #999;}
.d_header .header{top:.3rem;}

.d_job{width: 100%;text-align: center;border-bottom: .02rem solid #ddd;}
.d_job p span{font-size: .3rem;font-weight:600;}
.d_job p{margin: .16rem 0;}

.d_num{text-align: center;height:.48rem;line-height:.48rem;display: block;border-bottom: .02rem solid #ddd;font-size:.2rem ;}
.d_num i{margin: 0 .1rem;color: #FF0000;height: .49rem;}
.d_num .d_num_left{width: 39%;float: left;border-right: .02rem solid #ddd;}
.d_num .d_num_right{width: 60%;float: right;}

.h2bg{height: .2rem;background:#f5f5f5;clear: both;width: 100%;    overflow: hidden;    padding: 0;    margin: 0;}

.d_specialty{float:left;width: 90%;padding: .2rem 5%;}
.d_specialty p{font-size: .28rem;font-weight: 600;color: #333;padding-left:.38rem;}
.d_specialty span{display:block;margin-top: .2rem;overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;}

.d_specialty .p1{background: url(../images/doctor/p1.png) no-repeat;background-size:.3rem .3rem ;}
.d_specialty .p2{background: url(../images/doctor/p2.png) no-repeat;background-size:.3rem .3rem ;}
.d_specialty .p3{background: url(../images/doctor/p3.png) no-repeat;background-size:.3rem .3rem ;}
.d_specialty .p4{background: url(../images/doctor/p4.png) no-repeat;background-size:.3rem .3rem ;}
.d_specialty .p5{background: url(../images/doctor/p5.png) no-repeat;background-size:.3rem .3rem ;}

.d_specialty dl{margin-top: .2rem;}
.d_specialty dl dt{text-align: center;}
.d_specialty dl dt img{width: 4.8rem;}
.d_specialty dl dd{text-align: center;}




.d_footer{width: 100%;height: .8rem;background: #5d439c;position: fixed;bottom: 0;line-height: .8rem;text-align: center;color: #fff;}




















