<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>消息详情</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="wx/css/common.css" rel="stylesheet" type="text/css" />
<link href="wx/css/main.css" rel="stylesheet" type="text/css" />
<link href="wx/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="wx/css/my_swiper.css" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" src="wx/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="wx/js/swiper.min.js"></script>
<script type="text/javascript" src="wx/js/common.js"></script>
</head>
<body>

<!-- header -->
<section class="white_header">
    <a href="#" title="" class="hleft headleft header"><img src="wx/images/leftback.png"> </a>
    <div class="htitle header">消息详情</div>
    <a href="#" title="" class="hright headright header"><img src="wx/images/rightmore.png"></a>
</section>
<!-- header end -->

<section class="news_content">
    <h3>这里是标题，没有可以去掉</h3>
    付款方式分为以下几种：（注：先款订单请您在订单提交后24小时内完成支付， 否则订单会自动取消）
    1.    货到付款：选择货到付款，在订单送达时您可选择现金、POS机刷卡、支票方式支付货款或通过京东APP手机客户端 【扫一扫】功能扫描包裹单上的订单条形码方式用手机来完成订单的支付（扫码支付）；在订单未妥投之前您还可以进入“我的订单”在线支付货款。
    注意：货到付款的订单，如果一个ID帐号在一个月内有过1次以上或一年内有过3次以上，无理由不接收我司配送的商品，我司将在相应的ID帐户里按每单扣除500个京豆做为运费；时间计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算。
    2.    在线支付：选择在线支付，请您进入“我的订单”，点击“付款”，按提示进行操作；目前在线支付支持京东白条、余额、银行卡、网银+、微信、银联在线、网银钱包、信用卡等方式进行支付，可根据您的使用喜好进行选择。
    3.    公司转账：提交订单后选择线下公司转账会生成15位汇款识别码，请您按照提示到银行操作转账，然后进入“我的订单”填写付款确认；
    4.    邮局汇款：订单提交成功后，请您按照提示到邮局操作汇款，然后进入“我的订单”填写付款确认。


</section>


</body>
</html>
