<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>订单详情</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
    <!-- css -->
    <link href="../wx/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../wx/css/center.css" rel="stylesheet" type="text/css" />
    <!-- js -->
    <script type="text/javascript" src="../wx/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../wx/js/common.js"></script>

</head>
<body>

<!-- header -->
<section class="white_header">
    <a href="#" title="" class="hleft headleft header"><img src="../wx/images/leftback.png"> </a>
    <div class="htitle header">订单详情</div>
    <a href="#" title="" class="hright headright header"><img src="../wx/images/rightmore.png"></a>
</section>
<!-- header end -->

<section class="order_address">
    <p>李师傅 <span>13516477777</span></p>
    <label>
        <img src="../wx/images/address_icon.png">
        <span>收货地址：重庆市渝中区解放碑街道邹容路50号半岛国际大厦18-A</span>
    </label>
</section>

<section class="address_bg" style="float:left;"></section>

<!--orderall_box-->
<section class="orderall_box">
    <div class="orderall_list mt20">
        <p><span>订单号：<i>21545421215424</i></span><label>未付款</label></p>
        <dl>
            <dt><img src="../wx/images/product1.png"></dt>
            <dd class="dd1">999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
            <dd class="dd2">套餐类型：<span>三盒装</span></dd>
            <dd class="dd3"><span>￥8.00</span> <s>￥12.00</s><i>x1</i></dd>
        </dl>

        <dl>
            <dt><img src="../wx/images/product1.png"></dt>
            <dd class="dd1">999感冒灵胶囊 0.5g*12粒 三九牌感冒药 头痛发热鼻塞流涕咽痛 </dd>
            <dd class="dd2">套餐类型：<span>三盒装</span></dd>
            <dd class="dd3"><span>￥8.00</span> <s>￥12.00</s><i>x1</i></dd>
        </dl>
        <i>共<span>2</span>件商品  合计￥<label>168.00</label></i>
    </div>
</section>
<!--orderall_box end-->

<!--order_logistics-->
<section class="order_logistics mt20">
    <p>物流详情</p>
    <span><i>顺丰速递</i><label>102543245842513</label></span>
    <dl class="order_logistics_colored">
        <dt>重庆市渝中区派件员：河流（13883845552）正在派件</dt>
        <dd>2015-11-30  14:30:21</dd>
    </dl>
    <dl>
        <dt>重庆市渝中区派件员：河流（13883845552）正在派件</dt>
        <dd>2015-11-30  14:30:21</dd>
    </dl>
    <dl>
        <dt>重庆市渝中区派件员：河流（13883845552）正在派件</dt>
        <dd>2015-11-30  14:30:21</dd>
    </dl>
</section>
<!--order_logistics end-->
</body>
</html>
