<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>分类列表</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="wx/css/common.css" rel="stylesheet" type="text/css" />

<link href="wx/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="wx/css/my_swiper.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="wx/css/doctor.css"/>





<!-- js -->
<script type="text/javascript" src="wx/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="wx/js/swiper.min.js"></script>
<script type="text/javascript" src="wx/js/common.js"></script>
<style type="text/css">
	html,body{
		height: 100%;
	}
</style>
</head>
<body>

<div class="top_size"></div>

<div class="clear"></div>

<!-- header -->
<section class="white_header">
    <a href="#" title="" class="hleft headleft header"><img src="wx/images/leftback.png"> </a>
    <div class="hsearch">
        <form>
            <input type="" name="" id="" value="" placeholder="搜索医生、症状、疾病" />
        </form>
    </div>
    <a href="#" title="" class="hright headright header"><img src="wx/images/rightmore.png"></a>
</section>
<!-- header end -->



<!-- 20171031 -->
<!-- swiper////////////////////////////////////////////////////////////////////// -->			
<div class="index_banner">
	<div class="swiper-container" style="width: 100%;height: 100%;">
	 	<div class="swiper-wrapper">
		    <div class="swiper-slide blue-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide red-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide orange-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide orange-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide orange-slide">
		    	<a href="#">	    		
			    	<img src="wx/images/banner.png"/>
		    	</a>
		    </div>
	  	</div>
	  	<div class="swiper-pagination"></div>
	</div>
	
	<script type="text/javascript">
	  var mySwiper = new Swiper('.index_banner .swiper-container',{
	    loop: true,
		autoplay: 3000,
		pagination : '.index_banner .swiper-pagination'
	  });	
	</script>
</div>		
<!-- swiper////////////////////////////////////////////////////////////////////// -->


<!-- 20171031 end -->



<!-- 20171031 -->
<section class="top_link">
	<dl class="top_l_left">
		<dt><img src="wx/images/doctor/i1.png"></dt>
		<dd>咨询问诊</dd>
		<dd>视频咨询医生、药师</dd>
	</dl>
	<section class="top_l_right">
		<dl>
			<dt><img src="wx/images/doctor/i2.png"></dt>
			<dd>预约挂号</dd>
			<dd>三甲医院不用愁</dd>
		</dl>
		<dl>
			<dt><img src="wx/images/doctor/i3.png"></dt>
			<dd>我的健康</dd>
			<dd>健康信息握在手</dd>
		</dl>
	</section>
</section>
<!-- 20171031 end -->


<section class="doctor_type">
	<dl>
		<dt><img src="wx/images/doctor/quanke.png"></dt>
		<dd>全科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/fuchanke.png"></dt>
		<dd>妇产科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/erke.png"></dt>
		<dd>儿科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/pifuke.png"></dt>
		<dd>皮肤科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/neike.png"></dt>
		<dd>内科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/waike.png"></dt>
		<dd>外科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/xiaohuaneike.png"></dt>
		<dd>消化内科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/yake.png"></dt>
		<dd>牙科</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/zhongxiyijiehe.png"></dt>
		<dd>中西医结合</dd>
	</dl>
	
	<dl>
		<dt><img src="wx/images/doctor/nanke.png"></dt>
		<dd>男科</dd>
	</dl>
</section>



<section class="doctor_list">
    <!--一条-->
    <div class="h20"></div>
	<div class="doctor_list1">
        <div class="doctor_list1_l">
            <img src="wx/images/doctor/photo.png">
            <label class="on_line">在线</label>
            <!--<label class="off_line">离线</label>-->
        </div>

        <div class="doctor_list1_r">
            <dl>
                <dt>泰勒斯<span>主治医师</span></dt>
                <dd><span>重庆医科大学附属第一医院</span><span>骨科</span></dd>
                <dd>擅长：<i>血液病、小儿感冒、腹泻、母乳性黄豆、血液病、小儿感冒、血液病、小儿感冒、血液病、小儿感冒</i></dd>
                <dd>
                    <div class="doctor_list1_r_num">服务人数<span>222</span></div>
                    <div class="doctor_list1_r_numnow">当前咨询人数<span>222</span></div>
                </dd>
            </dl>

        </div>
    </div>
    <!--一条 end-->

    <!--一条-->
    <div class="h20"></div>
    <div class="doctor_list1">
        <div class="doctor_list1_l">
            <img src="wx/images/doctor/photo.png">
            <label class="off_line">离线</label>
        </div>

        <div class="doctor_list1_r">
            <dl>
                <dt>泰勒斯<span>主治医师</span></dt>
                <dd><span>重庆医科大学附属第一医院</span><span>骨科</span></dd>
                <dd>擅长：<i>血液病、小儿感冒、腹泻、母乳性黄豆、血液病、小儿感冒、血液病、小儿感冒、血液病、小儿感冒</i></dd>
                <dd>
                    <div class="doctor_list1_r_num">服务人数<span>222</span></div>
                    <!--<div class="doctor_list1_r_numnow">当前咨询人数<span>222</span></div>-->
                </dd>
            </dl>

        </div>
    </div>
    <!--一条 end-->
	
	
</section>





<!-- rightmore 右上角更多pop -->
<section class="rightmore">
    <section class="rightmore_jiao"></section>
    <section class="rightmore_box">
        <a href="#" title="" class="rightmore_box_more1">消息</a>
        <a href="#" title="" class="rightmore_box_more2">首页</a>
        <a href="#" title="" class="rightmore_box_more3">联系客服</a>
        <a href="#" title="" class="rightmore_box_more4">意见反馈</a>
    </section>
</section>
<!-- rightmore end -->

</body>
</html>
