<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>分类列表</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="wx/css/common.css" rel="stylesheet" type="text/css" />

<link href="wx/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="wx/css/my_swiper.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="wx/css/doctor.css"/>
<!-- js -->
<script type="text/javascript" src="wx/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="wx/js/swiper.min.js"></script>
<script type="text/javascript" src="wx/js/common.js"></script>
<style type="text/css">
	html,body{
		/*height: 100%;*/
		/*overflow: hidden;*/
		background: #fff;
	}
</style>
</head>
<body>


<!-- header -->
<section class="d_header">
	<a href="#" title="" class="hleft header"><img src="wx/images/leftbackwhite.png"> </a>
	<div class="photo">
            <img src="wx/images/doctor/photo.png">
            <label class="on_line">在线</label>
    </div>
</section>
<!-- header end -->

<div class="h90"></div>

<!-- 医生名字 -->
<section class="d_job">
	<p>
    	<span>李雷</span>
    	<span>新生儿科</span>
    	<span>主治医师</span>
    </p>
    <p>重庆第三军医院</p>
</section>
<!-- 医生名字 end -->

<!--咨询人数 -->
<section class="d_num">
	<span class="d_num_left">当前咨询人数<i>6</i></span>
	
	<span class="d_num_right">已为<i>3266</i>位顾客服务</span>
</section>
<!--咨询人数  end-->

<div class="h2bg"></div>

<!--擅长介绍-->
<section class="d_specialty">
	<p class="p1">擅长介绍</p>
	<span>血液病、小儿感冒、腹泻、母乳性黄豆、血液病、小儿感冒、血液病、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒</span>
</section>
<!--擅长介绍 end-->

<div class="h2bg"></div>

<!--医学教育背景-->
<section class="d_specialty">
	<p class="p2">医学教育背景</p>
	<span>血液病、小儿感冒、腹泻、母乳性黄豆、血液病、小儿感冒、血液病、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒</span>
</section>
<!--医学教育背景 end-->

<div class="h2bg"></div>

<!--学术研究成果、获奖介绍-->
<section class="d_specialty">
	<p class="p3">学术研究成果、获奖介绍</p>
	<span>血液病、小儿感冒、腹泻、母乳性黄豆、血液病、小儿感冒、血液病、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒</span>
</section>
<!--学术研究成果、获奖介绍 end-->

<div class="h2bg"></div>

<!--医生寄语-->
<section class="d_specialty">
	<p class="p4">医生寄语</p>
	<span>血液病、小儿感冒、腹泻、母乳性黄豆、血液病、小儿感冒、血液病、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒、小儿感冒、血液病、小儿感冒</span>
</section>
<!--医生寄语 end-->

<div class="h2bg"></div>

<!--相关证件-->
<section class="d_specialty">
	<p class="p5">相关证件</p>
	<dl>
		<dt><img src="wx/images/doctor/photo.png"></dt>
		<dd>职业医师证</dd>
	</dl>
	<dl>
		<dt><img src="wx/images/doctor/photo.png"></dt>
		<dd>职业医师证</dd>
	</dl>
	<dl>
		<dt><img src="wx/images/doctor/photo.png"></dt>
		<dd>职业医师证</dd>
	</dl>
	<dl>
		<dt><img src="wx/images/doctor/photo.png"></dt>
		<dd>职业医师证</dd>
	</dl>
</section>
<!--相关证件 end-->























<!-- rightmore 右上角更多pop -->
<section class="rightmore">
    <section class="rightmore_jiao"></section>
    <section class="rightmore_box">
        <a href="#" title="" class="rightmore_box_more1">消息</a>
        <a href="#" title="" class="rightmore_box_more2">首页</a>
        <a href="#" title="" class="rightmore_box_more3">联系客服</a>
        <a href="#" title="" class="rightmore_box_more4">意见反馈</a>
    </section>
</section>
<!-- rightmore end -->

</body>
</html>
